{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
