@import 'mixins';

$sans: 'Open Sans Bold', 'Open Sans', Helvetica, Arial, sans-serif;
$serif: 'Noto Serif', serif;
$link-color: #158;
$dark: #666;

// Icon font for link-out sidebar
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?27200950');
  src: url('../fonts/fontello.eot?27200950#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?27200950') format('woff'),
       url('../fonts/fontello.ttf?27200950') format('truetype'),
       url('../fonts/fontello.svg?27200950#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@include keyframes(throb) {
  from {
    @include vendor-prefix(transform, scaleX(1));
  }
  
  to {
    @include vendor-prefix(transform, scaleX(1.2));
  }
}

@include keyframes(throb-flipped) {
  from {
    @include vendor-prefix(transform, scaleX(-1));
  }

  to {
    @include vendor-prefix(transform, scaleX(-1.2));
  }
}

@include keyframes(pipe-dance) {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -175px 217px;
  }
}

@include keyframes(ken-burns-acid-test) {
  0% {
    background-size: 300px;
  }

  25% {
    background-size: 800px;
  }

  50% {
    background-position-y: -100%;
    background-size: 300px;
  }

  75% {
    background-position-x: 100%;
    background-size: 300px;
  }

  100% {
    background-position-x: -50%;
    background-size: 150px;
  }
}

// Nicholas Gallagher's clearfix
%clearfix {
  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}


// Fix the box model
* {
  @include vendor-prefix(box-sizing, border-box);
}

html,
body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  @include vendor-prefix(text-size-adjust, 100%);
  background: #ab8771 url('../img/pipetile.png');
  color: #080f17;
  cursor: pointer;
  font-family: $serif;

  &.sickening {
    @include vendor-prefix(animation-name, pipe-dance);
    @include vendor-prefix(animation-duration, 1s);
    @include vendor-prefix(animation-iteration-count, infinite);
    @include vendor-prefix(animation-timing-function, linear);
  }

  &.annoying {
    @include vendor-prefix(background-size, 200px);
    @include vendor-prefix(animation-timing-function, ease-in);
    @include vendor-prefix(animation-duration, 9s);
    @include vendor-prefix(animation-name, ken-burns-acid-test);
    @include vendor-prefix(animation-direction, alternate);
    @include vendor-prefix(animation-iteration-count, infinite);
    background: #000 url('../img/unicorn-glitch.gif');
    background-attachment: fixed;
    background-position: -75%;
  }
}

.image-credit {
  @include vendor-prefix(opacity, 1);
  @include vendor-prefix-prefix(transition, transform 3s, opacity 1s);
  @include vendor-prefix(transform-origin, bottom left);
  bottom: 10px;
  color: #fff;
  font-size: .6em;
  left: 10px;
  position: fixed;
  text-shadow: 1px 1px #000;

  a {
    color: #f58fff;
  }

  &.hidden {
    @include vendor-prefix(translate, -100px, 100px);
    @include vendor-prefix(opacity, 0);
  }

  .expand-link {
    display: block;
    font-size: 7em;
    @include vendor-prefix(transition, all 3s);
    &:hover {
      color: #fff;
      //@include vendor-prefix(animation-duration, 1s);
      //@include vendor-prefix(animation-name, throb);
      //@include vendor-prefix(animation-direction, alternate);
      //@include vendor-prefix(animation-iteration-count, infinite);
    }
  }
}

.hugely-annoying {
  .expand-link {
    @include vendor-prefix(transform, scaleX(-1));
    &:hover {
      //@include vendor-prefix(animation-duration, 1s);
      //@include vendor-prefix(animation-name, throb-flipped);
      //@include vendor-prefix(animation-direction, alternate);
      //@include vendor-prefix(animation-iteration-count, infinite);
    }
  }

  .image-credit {
    @include vendor-prefix(transform, scale(2));
  }

  #container {
    @include vendor-prefix(transform, translate3d(1000px, 0, 0));
    background-color: rgba(255, 255, 255, 0);
  }

  section,
  canvas {
    @include vendor-prefix(opacity, 0);
  }

}

#container,
#content {
  min-height: 100%;
}

#container {
  @extend %clearfix;
  @include vendor-prefix(transition, all 3s);
  @include breakpoint(mobile) {
    margin: 0;
  }

  background-color: #fff;
  cursor: auto;
  margin-left: 15%;
  overflow: hidden;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      background: $dark;
      color: #fff;
      margin: -2px -5px;
      padding: 2px 5px;
      text-shadow: none;
    }
  }
}

#content {
  padding: 56px 66px 0;
  position: relative;
}

.icon {
  font-family: fontello;
  text-decoration: none;
}

.no-icon {
  font-size: 12px;
}

footer {
  clear: both;
  color: $dark;
  font-size: .8em;
  margin-bottom: 80px;
}


// *Headings*
h1,
h2,
h3 {
  display: inline-block;
  font-family: $sans;
  font-weight: bold;

  a {
    display: inline-block;
  }
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 0;
  margin-right: 10px;
}

.tag {
  background: $dark;
  color: #fff;
  display: inline-block;
  font-family: $sans;
  font-size: .6em;
  opacity: .5;
  padding: 0 5px 1px 6px;
  text-transform: uppercase;
  -moz-transition: opacity .5s, -moz-transform .5s;
  -ms-transition: opacity .5s, -ms-transform .5s;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;

  .project:hover & {
    opacity: 1;
  }
}


// *Sections*
section {
  clear: both;
  padding: 70px 0;

  &:last-of-type {
    padding-bottom: 140px;
  }

  @include vendor-prefix-prefix(transition, opacity 3s);

  @include breakpoint(mobile) {
    padding: 20px 0;
  }
}

figure {
  @include vendor-prefix(transition, opacity 2s);
  height: 200px;
  opacity: 0;
  position: absolute;
  right: 20px;
  
  // this will get overridden via JS:
  top: -1000px;

  visibility: hidden;
  width: 200px;

  z-index: 3;

  > img {
    border: 75px double #2e1404;
    @include vendor-prefix(border-radius, 50%);
    margin: 25px;
    position: relative;
    width: 100%;
    z-index: 2;
    @include vendor-prefix(filter, grayscale(100%));
    @include vendor-prefix(transition, all 3s ease-in);

    .active & {
      @include vendor-prefix(filter, grayscale(0%));
      border-width: 0;

      &.square {
        border-radius: 0;
      }
    }
  }

  @include breakpoint(narrow) {
    float: left;
    height: auto;
    opacity: 1;
    position: relative;
    top: auto !important;
    visibility: visible;
    width: 30%;

    img {
      border: 0;
      margin: 0;
    }
  }

  @include breakpoint(mobile) {
    display: block;
    float: right;
    height: auto;
    opacity: 1;
    position: relative;
    top: auto !important;
    visibility: visible;
    width: 30%;

    > img {
      border: 0;
      margin: 0;
    }
  }
}

.active figure {
  opacity: 1;
  visibility: visible;
}

.animated-like-button {
  bottom: 0;
  height: 18px;
  right: 3%;
  position: absolute;
  width: 68px;
  z-index: 200;
}

.photo {
  .smiling {
    display: none;
  }
  .animated-like-button {
    transition: all 1s;
  }
  &:hover {
    .smiling {
      display: inline;
    }
    .normal {
      display: none;
    }
    .animated-like-button {
      @include vendor-prefix(transform, translateY(-150px) translateX(-150px) translateZ(0) scale(2.0) rotate(120deg));
    }
  }
}

// Make Like button behave when transformed
.fb_iframe_widget {
  span {
    height: 100% !important;
    width: 100% !important;
  }

  iframe {
    position: static !important;
  }
}

#unicorn {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
  z-index: 4;
 
  @include vendor-prefix(opacity, 1);
  @include vendor-prefix-prefix(transform, translate3d(0, 0, 0));
  @include vendor-prefix-prefix(transition, filter 3s, opacity 5s);

  @include breakpoint(narrow) {
    display: none;
  }

  @include breakpoint(mobile) {
    display: none;
  }

  &.journey-started {
    @include vendor-prefix(transition, none);
  }

  &.journey-completed {
    @include vendor-prefix(filter, blur(10px));
    @include vendor-prefix(opacity, 0);
  }

  &::selection,
  &::-moz-selection {
    background: transparent;
  }
}

@include breakpoint(mobile) {
  #top,
  aside {
    float: left;
  }

  #top {
    margin-bottom: 17px;
  }

  #content {
    padding: 10px 20px;
  }
}

#top h1 {
  @extend %clearfix;
  background: #ab8771;
  color: #fff;
  margin: 0;
  padding: 3px 6px 4px;
  position: fixed;
  right: 10px;
  text-align: right;
  top: 22px;
  @include vendor-prefix(transform, translate(0, 0) rotate(9deg));
  -moz-transition: -moz-transform 3s;
  -ms-transition: -ms-transform 3s;
  -webkit-transition: -webkit-transform 3s;
  transition: transform 3s;
  width: 162px;

  @include breakpoint(mobile) {
    margin-right: 20px;
    position: static;
    @include vendor-prefix(transform, none);
  }

  @include breakpoint(narrow) {
    text-align: center;
    width: 1.5em;
  }

  .wf-loading & {
    visibility: hidden;
    @include vendor-prefix(transform, translate(0, -160px) rotate(-50deg));
  }
}

.project {
  margin: 40px 0;
}

#sidebar {
  font-size: 2em;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 120px;
  @include vendor-prefix(transform, scale(1) rotate(0deg));
  -moz-transition: -moz-transform 3s;
  -ms-transition: -ms-transform 3s;
  -webkit-transition: -webkit-transform 3s;
  transition: transform 3s;
  width: 3em;
  z-index: 10;


  .wf-loading & {
    @include vendor-prefix(transform, scale(0) rotate(-180deg));
  }

  @include breakpoint(mobile) {
    margin-top: 20px;
    position: static;
    width: auto;
  }

  @include breakpoint(narrow) {
    font-size: 1.5em;
    width: 1.5em;
  }

  .icon {
    //@include vendor-prefix(transition, color 1s, text-shadow 1.5s);
    //@include vendor-prefix(-moz-transition, color 1s, -moz-tex-shadow 1.5s);
    @include vendor-prefix(text-shadow, 0);

    &:hover {
      color: #fff;
    }
  }
}

.project,
section {
  p,
  h2,
  h3 {
    max-width: 424px;
  }
}

#top span {
  display: block;
  float: left;

  // Only display initials of name when view is narrow
  @include breakpoint(narrow) {
    font-size: 0;

    &::first-letter {
      font-size: 20px;
    }
  }

}

.comic-sans,
.comic-sans * {
  font-family: "Comic Sans MS", "Comic Sans", Arial, Verdana, sans-serif !important;
}

canvas {
  @include vendor-prefix-prefix(transition, opacity 5s);
  z-index: 1;
}

h1,
h2,
h3,
p,
.tag {
  @include vendor-prefix(transition, opacity 2s); 
  opacity: 1;
  position: relative;
  z-index: 2;

  // handle webfont FOUC
  .wf-loading & {
    opacity: 0;
    visibility: hidden;
  }
}
